{{#if resume.projects.length}}
<section id="projects">
    <h2>Projects</h2>
    {{#each resume.projects}}
    <div class="item">
        {{#if name}}
        <h3 class="name">
            {{name}}
        </h3>
        {{/if}}
        {{#if link}}
        <div class="link">
            <a href="{{link}}">{{link}}</a>
        </div>
        {{/if}}
        {{#if description}}
        <div class="summary">
            <p>{{description}}</p>
        </div>
        {{/if}}
    </div>
    {{/each}}
</section>
{{/if}}